.u-about-page-outer-div {
  margin-top: 9rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.u-about-page-landing-div {
  max-width: 100%;
  display: flex;
  margin-bottom: 5rem;
}

.u-about-page-landing-div-right {
  position: relative;
}

.u-about-page-landing-slogan {
  font-size: 3.8rem;
  font-family: sans-serif;
  text-align: center;
  margin-left: 2rem;
}

.u-about-page-landing-slogan-bg {
  position: absolute;
  width: 600px;
  top: -120px;
  left: 100px;
  border-radius: 40% 20% 42% 40%;
}
.u-about-page-landing-hero {
  display: flex;
  border-radius: 0.4rem;
  margin: 3rem 2rem;
  color: white;
  max-width: 98%;
  height: 400px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.u-about-page-landing-hero-heading {
  font-size: 2.2rem;
  color: rgb(8, 50, 5);;
}

.u-about-page-landing-hero-subheading {
  font-size: 1.2rem;
  color: black;
}

.u-about-page-landing-hero-left,
.u-about-page-landing-hero-right {
  width: 50%;
  flex: 1;
}

.u-about-page-landing-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  padding: 1.8rem 2.7rem;
}

.u-about-page-landing-hero-right {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.u-about-page-hero-img {
  max-width: 95%;
  object-fit: contain;
  height: 400px;
}

@media only screen and (max-width: 670px) {
  .u-about-page-outer-div {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 6rem;
  }

  .u-about-page-landing-div {
    flex-direction: column;
    margin-bottom: 13rem;
  }

  .u-page-page-landing-heading {
    font-size: 1.6rem;
  }

  .u-about-page-landing-slogan {
    font-size: 2rem;
    position: absolute;
    left: 2rem;
    Margin-top:6rem;
  }

  .u-about-page-landing-slogan-bg {
    width: 300px;
    top: -80px;
    left: 30px;
  }

  .u-about-page-landing-hero {
    flex-direction: column;
    height: 100%;
  }

  .u-about-page-landing-hero-left,
  .u-about-page-landing-hero-right {
    width: 100%;
    flex: 1;
  }

  .u-about-page-landing-hero-left {
    padding: 1.2rem 2.1rem;
  }

  .u-about-page-landing-hero-right {
    flex-direction: column;
  }

  .u-about-page-hero-img {
    height: 95%;
  }

  .u-about-page-landing-hero-heading {
    font-size: 1.2rem;
    
  }

  .u-about-page-landing-hero-subheading {
    font-size: 1rem;
  }
  
}